autopep8==1.4.2
awscli==1.15.3
botocore==1.10.3
colorama==0.3.7
configparser==3.5.0
docutils==0.14
enum34==1.1.6
flake8==3.6.0
futures==3.2.0
GDAL==2.3.1
jmespath==0.9.3
mccabe==0.6.1
nose==1.3.7
numpy==1.15.4
pbr==4.0.1
pyasn1==0.4.2
pycodestyle==2.4.0
pyflakes==2.0.0
python-dateutil==2.6.1
PyYAML==3.12
rsa==3.4.2
s3transfer==0.1.13
six==1.11.0
stevedore==1.28.0
virtualenv==15.2.0
virtualenv-clone==0.3.0
virtualenvwrapper==4.8.2
